.Form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 1em;
    padding-right: 1em;
}

.TitleContainer {
    margin: 1em;
    display: flex;
}

.Title {
    display: flex;
    justify-content: space-evenly;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    color: #000000;
    mix-blend-mode: darken;
}

.RightTitle {
    justify-content: space-evenly;
    display: flex;
    font-family: Roboto;
    text-align: right;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    color: #000000;
    mix-blend-mode: darken;
}

.SubTitle {
    display: flex;
    margin: 1em;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 56px;
    /* or 233% */
    color: #000000;
}

.ContentTitle {
    margin: 0.5em;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    mix-blend-mode: darken;
}

.Settings {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 56px;
    color: #000000;
    text-align: left;
    margin-right: 00.5em;
}

.Content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.PlayersList{
    display:flex;
    border-style: inset;
}